@import "./globals.css";
@import "./buttons.css";
@import "./menu.css";

.icon-wrap {
  margin: 0px 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.icon-wrap:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.notes-modal {
  background: white;
  max-width: 80%;
  min-height: 200px;
  max-height: 80%;
  margin: auto;
  border: none;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.notes-text {
  font-family: "Roboto Mono", monospace;
  width: 100%;
  height: 90% !important;
  overflow: hidden;
  border: none;
}

.notes-text:focus {
  outline: none;
}

.search-bar-empty {
  width: 100%;
  border: 1px solid var(--lightBlue);
  height: 50px;
  border-radius: 20px;
  padding: 30px;
  background: white;
}

.search-bar {
  width: 100%;
  border: 1px solid var(--lightBlue);
  border-bottom: none;
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 30px;
  background: white;
  border-bottom: 1px solid whitesmoke;
}

.search-bar-empty:focus-within {
  box-shadow: 5px 5px 20px lightgray;
}

.suggestions {
  width: 100%;
  background: white;
  margin: 0 auto;
  margin-top: -10px;
  padding: 30px;
  border: 1px solid var(--lightBlue);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top: 1px solid lightgray;
}

.loading-wrap {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.book-title {
  font-weight: var(--semiBold);
}
